body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1,2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white; 
}

header {
	width: 100%;
	position: fixed;
	background-color: black;
	z-index: 1;
	height: 90px;
	
}

.header {
    justify-content: center;
	align-items: center;
	display: flex;
	padding: 25px;
	color: #999999;
}

	.menu {
		display: flex;
	}

	.menu .item a {
		display: block;
		padding: 10px;
		color: #999999;

	}

	.menu .item a::after {
		content:'';
		position: absolute;
		background-color: #999999;
		width: 1px;
		height: 14px;
		margin-left: 20px;
		
		
	}
	
	.menu .item:last-child a::after  {
		display: none;
		
	}

.article {    
    width: 100%;
    background-color: black;
    height: 900px;
    
    overflow: hidden;
  }
  
	.content-foto {
		position: relative;
	}
		.foto {
			position: absolute;
			opacity: 0;
			animation-name: animacao;
			animation-duration: 40s;
			animation-iteration-count: infinite;
			width: 100%;
			left: 0;
		}

#content {
    background-color:black;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;  
    flex-wrap: wrap-reverse;
    text-align: center;
    justify-content: space-evenly; 
    align-items: center;
}

	.Footer-header, .item {
		width: 300px;
		color: white;
		float: center;
		margin: 5px;
		height: 40px;
		background: black;   
	}

.nova-div {
	width: 100%;
	height: 50px;
	background: gray;
}




  

  @keyframes animacao{

    50%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    100%{
        opacity: 0;
    }

  }

.foto:nth-child(1){
    animation-delay: 0s;
  }
.foto:nth-child(2){
    animation-delay: 15s;  
}
.foto:nth-child(3){
    animation-delay: 35s;  
}








